.wholeField {
    height: 500px;
    width: 500px;
    overflow-y: auto;
}

.button {
    width: 100%;
    padding: 12px;
    background: #C4E4D3;
    border: 2px solid transparent;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  outline: none;
  border-color: #C4E4D3;
}

.button:focus {
    outline: none;
    border-color: #C4E4D3;
}

.tokenField {
    height: 30px;
    display: flex;
    flex-direction: row;
    font: 18px;
    border-radius: 25px;
    border: none;
    background-color: purple;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}

.token {
    font: 20px;
    color: blue;
}

.tokenStatusAvailable {
    font: 20px;
    color: green;
}

.tokenStatusUsed {
    font: 20px;
    color: red;
}
/* .wholeFiled {
    display: flex;
    flex-direction: column;
}

.addingPart {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.addButton {
  padding: 12px;
  background: purple;
  border: 2px solid transparent;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 10%;
  height: 10%;
  margin-top: 30px;
  align-items: flex-end;
}

.readingList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.readingItem {
  background-color: #4af195;
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 18px;
  border: 1px solid transparent;
  background: #B2C8CF;
  justify-content: space-between;
}

.readingItem:hover {
  background-color: yellow;
}

.deleteButton {
  background: #ff4d4f;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  align-items: flex-end;
}

.deleteButton:hover {
  background: blue;
} */