.infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.infoTitle {
    margin: 0;
    font-size: 30px;
    color: black;
}

.infoScroll {
    flex: 1;
    overflow-y: auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 0 10px 0;
    overflow-y: auto;
}