.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.infoHeader {
    display: flex;
    flex-direction: column;
}

.smallRow {
    font: 10px;
    opacity: 0.6;
    align-self: left;

    background-color: blue;
}

.bigRow {
    display: flex;
    flex-direction: row;
    font: 20px;
    justify-content: space-between;

    background-color: yellow;
}

.lessonTitle {
    font-size: 30px;
}

.lessonStatus {
    flex: 1;
    align-items: left;
    align-self: left;
    align-content: left;
    justify-content: flex-start;
}



.smallButton {
    padding: 12px;
    background: #C4E4D3;
    border: 2px solid transparent;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: auto;
}

.smallButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  outline: none;
  border-color: #C4E4D3;
}

.smallButton:focus {
    outline: none;
    border-color: #C4E4D3;
}

.infoScroll {
    flex: 1 1 auto;
    margin-top: 10px;
    padding-right: 10px;
    overflow-y: auto;
    min-height: 0;
    /* height: 0; */
    -webkit-overflow-scrolling: touch;

    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%; */
}

.infoScroll::-webkit-scrollbar {
  width: 6px;
}

.infoScroll::-webkit-scrollbar-track {
  background: transparent;
}

.infoScroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.infoScroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 10px 0;
}